/* ==== v2 Gal ==== */
    #gal-tc {
        background-image: url(../images/cs_lrth-tin.jpg);
    }
    
    #gal-flg {
        background-image: url(../images/cs_lrth-tin.jpg);
    }

    #gal-snkz {
        background-image: url(../images/cs_lrth-tin.jpg);
    }

    #gal-port {
        background-image: url(../images/cs_lrth-tin.jpg);
    }

    #gal-inrs {
        background-image: url(../images/cs_lrth-tin.jpg);
    }

    #gal-shft {
        background-image: url(../images/cs_lrth-tin.jpg);
    }


    /* background-color: #fff;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; */