/* ==== v2 Gal ==== */

    #gal-tc {
        background-image: url(../images/cs_bcittc-banner.jpg);
    }
    
    #gal-flg {
        background-image: url(../images/cs_flg-sitebanner.jpg);
        background-position: right;
    }

    #gal-snkz {
        background-image: url(../images/cs_snkz-banner.jpg);
        background-position: right;
    }

    #gal-port {
        background-image: url(../images/cs_portrait-banner.jpg);
    }

    #gal-inrs {
        background-image: url(../images/cs_interest-banner.jpg);
    }

    #gal-shft {
        background-image: url(../images/cs_shift-banner.jpg);
    }