/* ==== GENERAL ==== */

    html {
        scroll-behavior: smooth;
    }

    body {
        position: relative;
        font-family: proxima-nova, sans-serif;
        font-size: 18px;
        line-height: 1.5;
        background: #fcfcfc;
        overflow-x: hidden;
        min-height: calc(100vh - 150px + 2vh + 2rem);
    }

    img {
        width: 100%;
        max-height: 80vh;
    }

    .accent {
        color: #e05f09;
        font-weight: 400;
    }

    a {
        color: #fcfcfc;
        text-decoration: none;
        transition: all .1s ease-in-out;
    }

    a:hover {
        color: #fcfcfc;
        text-decoration: none;
    }

    /* ==== FLEX CLASSES ==== */

        .flex {
            display: flex;
        }

            @media (max-width: 769px){
                .flex {
                    flex-direction: column;
                }
            }

        .flex-vert {
            flex-direction: column;
        }

        .flex-around {
            justify-content: space-around;
        }

        .flex-bet {
            justify-content: space-between;
        }

        .flex-vertcen {
            align-items: center;
        }

        .flex-end {
            align-items: flex-end;
        }

        .flip {
            flex-direction: row-reverse;
        }

            @media (max-width: 769px){
                .flip {
                    flex-direction: column;
                }
            }

/* ==== FONT MATTERS ==== */


    /* ==== TYPOGRAPHY ==== */

        .head-font {
            font-family: bc-alphapipe, sans-serif;
            font-weight: 700;
            letter-spacing: 1px;
            margin-bottom: 1.25rem;
            line-height: .95;
        }

            @media (max-width: 769px){
                .head-font {
                    line-height: 1.35;
                }
            }

        h1 {
            font-size: 2.5rem;
        }

        h2 {
            font-size: 1.5rem;
        }

        h3 {
            font-size: 1.25rem;
            font-weight: 400;
            margin-top: 1.25rem;
        }

        p {
            line-height: 1.75;
            padding-bottom: 1.25vh;
        }

            @media (max-width: 769px){
                p {
                    line-height: 2;
                }
            }

        .p-indent {
            margin-left: 2rem;
        }

        .p-link {
            color: #e05f09;
        }

        .p-link:hover {
            font-weight: 700;
            color: #e05f09;
            font-family: bc-alphapipe, sans-serif;
        }

        .bold {
            font-weight: 700;
        }

        .italic {
            font-style: italic;
        }

        .art-link {
            color: #e05f09;
        }

        .art-link:hover {
            color: #e05f09;
            font-weight: 700;
        }

        .permissions {
            font-size: .75rem;
            font-style: italic;
            opacity: .5;
        }

        ol {
            list-style: decimal;
            padding-bottom: 1.25vh;
        }

        ol li {
            padding-left: .5rem;
        }

        .li-indent {
            margin-left: 4.5rem;
        }

        .bullets {
            list-style: disc;
            padding-bottom: 1.25vh;
        }

        .bullets li {
            padding-left: .5rem;
        }

        .bullet-sub {
            margin-left: 2rem;
            list-style: circle;
        }

    /* ==== SECTION SPECIFIC ==== */

        header {
            font-family: bc-alphapipe, sans-serif;
            color: #fcfcfc;
        }

        footer {
            font-family: bc-alphapipe, sans-serif;
            font-weight: 300;
            color: #fcfcfc;
        }

            .copyright {
                font-style: italic;
                font-size: .8rem;
            }


/* ==== HEADER ==== */

    header {
        background: #0f0f0f;
        position: fixed;
        top: 0;
        width: 100vw;
        height: 100px;
        padding: 2vh 5vw;
        z-index: 15;
    }

    .mob-head {
        display: block;
    }

        @media (max-width: 769px){
            .mob-head {
                display: none;
            }
        }

    .gn {
        height: 100%;
    }

    .gn ul {
        width: 100%;
    }

    .logo {
        width: 50px;
        height: auto;
        overflow: hidden;
    }

    .gn a {
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .gn a:hover {
        font-weight: 700;
    }

    .empty-scroll {
        scroll-margin-top: 125px;
    }

/* ==== FOOTER ==== */

    footer {
        background: #0f0f0f;
        position: absolute;
        bottom: 0;
        width: 100vw;
        height: 150px;
        padding: 4vh 5vw;
        text-align: center;
        z-index: 10;
    }

    .copyright {
        margin-top: 1.5vh;
    }

    /* ==== SOCIALS ==== */

    .socials {
            margin: 0 auto;
        }

            @media (max-width: 769px){
                .socials .flex {
                    flex-direction: row;
                }
            }

        .socials ul {
            padding: 0 3vw 1.5vh;
            border-bottom: 1px solid #fcfcfc;
        }

        .socials img {
            height: 20px;
            width: auto;
            margin: 0 2vw;
        }

/* ==== CONTENT ==== */

    main {
        max-width: 1600px;
        padding: 0 5vw calc(150px + 1.5vh + 2rem);
        margin: 75px auto 0;
    }

    .content-box {
        position: relative;
        padding: 2vh auto 2000px;
    }

    .tab {
        position: -webkit-sticky;
        position: sticky;
        top: 90vh;
        float: right;
        background-color: #e05f09;
        color: #fcfcfc;
        font-weight: 100;
        z-index: 20;
        transform: rotate(-90deg) translateY(22px);
        font-size: .9rem;
        height: 1.5rem;
        padding: 12px 20px 30px;
        line-height: -1;
        box-shadow: -5px 5px 15px -5px rgba(15,15,15,0.86);
        transition: all .1s ease-in-out;
    }

    .tab:hover {
        font-weight: 400;
    }

    .artiAll {
        position: relative;
        top: -1vh;
        width: 100%;
        margin: 0 auto;
        background: #e05f09;
        color: #fcfcfc;
        text-align: center;
        margin: 0;
        padding: 1.25vh 0;
        font-size: 1.25rem;
        font-weight: 400;
        letter-spacing: 3px;
        font-style: italic;
        text-transform: uppercase;
        box-shadow: -5px 5px 15px -5px rgba(15,15,15,0.86);
    }

    .toplink-arti {
        text-transform: uppercase;
        text-align: center;
        font-style: italic;
        letter-spacing: 4px;
        position: fixed;
        bottom: 165px;
        left: 0;
        right: 0;
        width: 100vw;
        font-size: .75rem;
        color: #0f0f0f;
        z-index: 10;
        display: none;
        transition: all .1s ease-in-out;
    }

    .toplink-arti:hover {
        color: #e05f09;
    }

    .toplink-box {
        width: 100vw;
        height: 100px;
    }

    /* ==== CONTENT BLURB ==== */

        .content-blurb-head {
            width: 100%;
            border-bottom: 1px solid #0f0f0f;
            padding-bottom: 1vh;
            margin-bottom: 1vh;
        }

            .content-blurb-logo {
                height: 125px;
            }

            .content-blurb-logo img {
                height: inherit;
                width: inherit
            }

                @media (max-width: 769px){
                    .content-blurb-logo {
                        display: none;
                    }
                }

        .content-blurb-copy {
            padding-bottom: 5vh;
        }

        .showcase {
                width: 100%;
                max-width: 1440px;
                height: auto;
                overflow: hidden;
                margin: 2.5vh auto;
            }

    /* ==== CONTENT ARTICLE ==== */

        .content-arti {
            box-shadow: 5px 5px 16px -5px rgba(15,15,15,0.86);
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
        }

        .content-arti-head {
            background: #0f0f0f;
            color: #fcfcfc;
            margin: 4vh auto 0;
        }

        .content-arti-head div {
            width: 100%;
            font-family: bc-alphapipe, sans-serif;
            transition: all .1s ease-in-out;
        }

        .content-arti-head div:hover {
            text-transform: uppercase;
            font-weight: 700;
            cursor: pointer;
        }

        .arti-select {
            background: #0f0f0f;
            color: #e05f09;
            text-transform: uppercase;
            font-weight: 700;
        }

        /* ==== CONTENT CARDS ==== */

            .content-arti-lock {
                padding-bottom: 8vh;
            }
            .content-arti-section {
                padding: 0;
                max-width: 100%;
                margin-top: 8vh;
            }

            .arti-head {
                margin-bottom: 2.25rem;
            }

            .content-arti-clean {
                gap: 2vw;
                margin-bottom: 7vh;
            }

            .content-arti-final img {
                width: 35vw;
                max-width: 550px;
                height: auto;
            }

            .framed img {
                border: 7px solid #fcfcfc;
                box-shadow: -5px 5px 15px -5px rgba(15,15,15,0.86);
            }

            .mb-small img {
                width: 300px;
            }

                @media (max-width: 769px){
                    .content-arti-final {
                        text-align: center;
                        width: 100%;
                    }
                    .content-arti-final img {
                        width: 75%;
                        max-width: none;
                        margin-bottom: 2vh;
                    }
                    .mb-small img {
                        width: 250px;
                    }
                }

            .img-full img {
                width: 100%;
                max-width: 100%;
                height: auto;
            }

            .content-add {
                padding-top: 2.5vh;
                border-bottom: 10px #0f0f0f solid;
            }

            .design-back {
                background: #0f0f0f;
                display: block;
                color: #fcfcfc;
                font-size: 1.15em;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-weight: 400;
                margin: 8vh auto 0;
                padding: 2vh 3vw;
                box-shadow: -5px 5px 15px -5px rgba(15,15,15,0.86);
            }

            .design-back:hover {
                background: #e05f09;
                font-weight: 700;
                box-shadow: none;
            }

            .video-box {
                min-height: 35vw;
                max-height: 720px;
                max-width: 1280px;
                margin: 0 auto 7vh;
            }
            
            .video-port {
                margin: 0 auto;
                max-height: 90vh;
                max-width: auto;
            }
            
            .video-port video {
                max-height: 100vh;
            }
            
                @media (max-width: 769px){
                    .video-box {
                        max-height: none;
                    }
                    .video-port video {
                        max-width: 80vw;
                    }
                }

/* ==== AUX PAGES ==== */

    /* ==== INDEX ==== */

        #landing {
            text-transform: uppercase;
            height: 30vh;
            justify-content: flex-end;
            z-index: 5;
            gap: 2vh;
            padding-bottom: 3vh;
            border-bottom: 1px solid #0f0f0f;
        }

        #landing img {
            width: 100px;
            align-self: center;
            margin-bottom: 2em;
        }

        #landing h1, #landing h2{
            font-size: 1.5em;
            font-weight: 400;
            letter-spacing: 1.5px;
        }

        #landing h2{
            font-size: .86em;
            font-weight: 100;
            margin-bottom: .75em;
        }

        #landing a {
            color: #fcfcfc;
            background-color: #e05f09;
            padding: .5em .75em;
            font-size: .75em;
            box-shadow: -5px 5px 15px -5px rgba(15,15,15,0.86);
        }

        #landing a:hover {
            box-shadow: none;
            color:#e05f09;
            border: #e05f09 1px solid;
            background-color: #fcfcfc;
        }

        .landing-gal {
            margin: 7vh 0 15vh;
        }

            .landing-gal h3 {
                font-weight: 700;
                text-align: right;
                margin-bottom: .5rem;
                font-size: 1.2rem;
            }

            .gal-sub {
                font-weight: 400;
                font-family: proxima-nova, sans-serif;
                font-size: .86rem;
                line-height: 1.5;
                text-align: right;
                font-style: italic;
                position: relative;
                padding-top: .25rem;
            }

            .gal-sub::before{
                content: '';
                width: 30vw;
                height: 1px;
                background-color: #0f0f0f50;
                position: absolute;
                top: 0;
                right: 0;
            }

        .gal-project {
            margin-bottom: 4vh;
        }

        .gal-link {
            position: relative;
            height: 30vh;
            padding: 0;
            margin: 0;

            z-index: 0;
        }

            @media (max-width: 769px){
                .gal-link {
                    height: 20vh;
                }
            }

        .gal-hov {
            letter-spacing: 2px;
            text-transform: uppercase;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5rem;
            color: #fcfcfc;
            text-align: center;

            border-bottom: #e05f09 1.5px solid;
            border-top: #e05f09 1.5px solid;
            padding-top: .75rem;

            margin: 0;
            position: absolute;
            z-index: 10;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            opacity: 0;
            transition: all .25s .025s ease-in;
        }

            @media (max-width: 769px){
                .gal-hov {
                    opacity: 1;
                    width: 100%;

                    font-weight: 500;
                    font-size: .75rem;
                    text-align: center;
                    line-height: 1.15rem;

                    border-bottom: none;
                    padding: 1.25vh 2.25vw;

                    transform: none;
                    
                    left: auto;
                    top: auto;
                    right: 0;
                    bottom: 0;
                    
                    background-color: #0f0f0fcf;
                }
            }

            .gal-link::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #0f0f0f;
                opacity: 0;
                transition: all .25s .01s ease-in;

                z-index: 5;
            }

            .gal-link:hover {
                z-index: 3;
            }

            .gal-link:hover::after {
                opacity: .65;
            }

            .gal-link:hover > .gal-hov {
                opacity: 1;
            }

        .gal-img {
            height: 100%;
            background-size: cover;
            padding: 0;

            z-index: 3;
        }

        .gal-img:hover {
            z-index: 3;
        }

        .gal-img::before {
            background-image: linear-gradient(-180deg, #0f0f0fad 0%, #404040 97%);
            content: '';
            height: 100%;
            position: absolute;
            transition: all .2s;
            transition-delay: .2s;
            transform: translateY(0px) translateX(0px);
            width: 100%;
            z-index: -5;
            }
            
        .gal-img::after {
        background-image: linear-gradient(0deg, #e09509 0%, #e05f09 97%);
        content: '';
        height: 100%;
        position: absolute;
        transition: all .2s;
        transition-delay: .2s;
        transform: translateY(0px) translateX(0px);
        width: 100%;
        z-index: -5;
        }
        
            @media (max-width: 769px){
                .gal-img::before {
                    display: none;
                }
                .gal-img::after {
                    display: none;
                }
            }
        
        .gal-link:hover > .gal-img::before{
            animation: grey-dance 3s .4s linear infinite;
            transform: translateY(-7px) translateX(-7px);
        }
        
        .gal-link:hover > .gal-img::after{
            animation: orange-dance 3s .4s linear infinite reverse;
            transform: translateY(7px) translateX(7px);
        }
        
            @keyframes orange-dance {
                0.00% {
                transform: translateY(6px) translateX(6px) }
                16.67% {
                transform: translateY(-4px) translateX(-9px) }
                33.33% {
                transform: translateY(4px) translateX(12px) }
                50.00% {
                transform: translateY(10px) translateX(-10px) }
                66.67% {
                transform: translateY(-3px) translateX(8px) }
                83.33% {
                transform: translateY(-5px) translateX(-6px) }
                100.00% {
                transform: translateY(10px) translateX(10px) }
            }
            
            @keyframes grey-dance {
                0.00% {
                transform: translateY(-6px) translateX(-6px) }
                16.67% {
                transform: translateY(3px) translateX(-5px) }
                33.33% {
                transform: translateY(6px) translateX(-10px) }
                50.00% {
                transform: translateY(-10px) translateX(10px) }
                66.67% {
                transform: translateY(5px) translateX(-4px) }
                83.33% {
                transform: translateY(-1px) translateX(5px) }
                100.00% {
                transform: translateY(-10px) translateX(-10px) }
            }

    /* ==== ABOUT ==== */

        .about-subhead {
            font-family: bc-alphapipe, sans-serif;
            font-weight: 700;
            letter-spacing: 1px;
            margin-top: 1.25rem;
            line-height: .65;
        }
        
        .head-shot {
            width: 30vw;
            min-width: 275px;
            padding: 1vh 2vw;
            margin: 0 auto;
        }