.toplink-box {
    width: 100vw;
    height: 100px;
}

.video-box {
    min-height: 40vw;
    max-height: 720px;
    max-width: 1280px;
}

.video-port {
    margin: 0 auto;
}

.video-port video {
    max-height: 100vh;
}

    @media (max-width: 769px){
        .video-box {
            max-height: none;
        }
        .video-port video {
            max-width: 80vw;
        }
    }

.about-subhead {
    font-family: bc-alphapipe, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 1.25rem;
    line-height: .65;
}

.head-shot {
    width: 30vw;
    min-width: 275px;
    padding: 1vh 2vw;
    margin: 0 auto;
}

.empty-scroll {
    scroll-margin-top: 125px;
}
    
.gal-img::before {
background-image: linear-gradient(-180deg, #0f0f0fad 0%, #404040 97%);
content: '';
height: 100%;
position: absolute;
transition: all .2s;
transition-delay: .2s;
transform: translateY(0px) translateX(0px);
width: 100%;
z-index: -5;
}

.gal-img::after {
background-image: linear-gradient(0deg, #e09509 0%, #e05f09 97%);
content: '';
height: 100%;
position: absolute;
transition: all .2s;
transition-delay: .2s;
transform: translateY(0px) translateX(0px);
width: 100%;
z-index: -5;
}

    @media (max-width: 769px){
        .gal-img::before {
            display: none;
        }
        .gal-img::after {
            display: none;
        }
    }

.gal-link:hover > .gal-img::before{
    animation: grey-dance 3s .4s linear infinite;
    transform: translateY(-7px) translateX(-7px);
}

.gal-link:hover > .gal-img::after{
    animation: orange-dance 3s .4s linear infinite reverse;
    transform: translateY(7px) translateX(7px);
}

@keyframes orange-dance {
    0.00% {
    transform: translateY(6px) translateX(6px) }
    16.67% {
    transform: translateY(-4px) translateX(-9px) }
    33.33% {
    transform: translateY(4px) translateX(12px) }
    50.00% {
    transform: translateY(10px) translateX(-10px) }
    66.67% {
    transform: translateY(-3px) translateX(8px) }
    83.33% {
    transform: translateY(-5px) translateX(-6px) }
    100.00% {
    transform: translateY(10px) translateX(10px) }
}

@keyframes grey-dance {
    0.00% {
    transform: translateY(-6px) translateX(-6px) }
    16.67% {
    transform: translateY(3px) translateX(-5px) }
    33.33% {
    transform: translateY(6px) translateX(-10px) }
    50.00% {
    transform: translateY(-10px) translateX(10px) }
    66.67% {
    transform: translateY(5px) translateX(-4px) }
    83.33% {
    transform: translateY(-1px) translateX(5px) }
    100.00% {
    transform: translateY(-10px) translateX(-10px) }
}